### Question 1

You’re given a dataframe of students named students_df:

students_df table

name	        age	favorite_color	grade
Tim Voss	    19	red	            91
Nicole Johnson	20	yellow	        95
Elsa Williams	21	green	        82
John James	    20	blue	        75
Catherine Jones	23	green	        93

Write a function named grades_colors to select only the rows where the student’s favorite color is green or red and their grade is above 90.

Example:

Input:

import pandas as pd

students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}

students_df = pd.DataFrame(students)

Output:

def grades_colors(students_df) ->
name	        age	favorite_color	grade
Tim Voss	    19	red	            91
Catherine Jones	23	green	        93

In [1]:
import pandas as pd

In [2]:
students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], 
            "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], 
            "grade" : [91, 95, 82, 75, 93]
}

students_df = pd.DataFrame(students)

In [3]:
students_df.head()

              name  age favorite_color  grade
0         Tim Voss   19            red     91
1   Nicole Johnson   20         yellow     95
2    Elsa Williams   21          green     82
3       John James   20           blue     75
4  Catherine Jones   23          green     93

In [6]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            5 non-null      object
 1   age             5 non-null      int64
 2   favorite_color  5 non-null      object
 3   grade           5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [ ]:
Write a function named grades_colors to select only the rows where the student’s favorite color is green or red and their grade is above 90.

In [19]:
grades_colors = students_df[ ( students_df['favorite_color'] == 'green' ) & ( students_df['grade'] > 90 ) ]
grades_colors

              name  age favorite_color  grade
4  Catherine Jones   23          green     93