In [1]:
people = {
    "first":['vikas','rakesh','mahesh', 'saurabh'],
    "last":['sharma','puri','jain', 'sharma'],
    "email":["vikas_sharma@gmail.com","rakesh_puri@gmail.com","mahesh_jain@gmail.com", "saurabh_sharma@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df_dict = pd.DataFrame(people)
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  sharma  saurabh_sharma@gmail.com

In [4]:
# df = pd.read_csv('D:/GIT_Repositories/pandas/survey_results_public.csv', index_col = 'Respondent')
# schema_df = pd.read_csv('D:/GIT_Repositories/pandas/survey_results_schema.csv', index_col = 'Column')

# pd.set_option('display.max_columns', 85)
# pd.set_option('display.max_rows', 85)

In [5]:
df_dict.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
# Use case 1. Rename the column names  ??????  ======>   assignment

df_dict.columns = ['first_name', 'last_name', 'email']     #  <<=====  this approach is used only when we have to change all the columns
df_dict.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [7]:
df_dict

  first_name last_name                     email
0      vikas    sharma    vikas_sharma@gmail.com
1     rakesh      puri     rakesh_puri@gmail.com
2     mahesh      jain     mahesh_jain@gmail.com
3    saurabh    sharma  saurabh_sharma@gmail.com

In [8]:
# Use case 2.   Change columns names to upper case ---- ????

df_dict.columns = [x.upper() for x in df_dict.columns]
df_dict

  FIRST_NAME LAST_NAME                     EMAIL
0      vikas    sharma    vikas_sharma@gmail.com
1     rakesh      puri     rakesh_puri@gmail.com
2     mahesh      jain     mahesh_jain@gmail.com
3    saurabh    sharma  saurabh_sharma@gmail.com

In [9]:
# Use case 3.   Reaplce spaces in the column names ????

df_dict.columns = df_dict.columns.str.replace(' ', '')
df_dict

  FIRST_NAME LAST_NAME                     EMAIL
0      vikas    sharma    vikas_sharma@gmail.com
1     rakesh      puri     rakesh_puri@gmail.com
2     mahesh      jain     mahesh_jain@gmail.com
3    saurabh    sharma  saurabh_sharma@gmail.com

In [10]:
# usecase 4.  Want to change only specific columns ????? instead of all columns

df_dict.rename( columns = {'FIRST_NAME':'first', 'LAST_NAME':'last'}, inplace=True )
df_dict

     first    last                     EMAIL
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  sharma  saurabh_sharma@gmail.com

In [11]:
df_dict.rename( columns = {'EMAIL':'email'}, inplace=True )
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  sharma  saurabh_sharma@gmail.com

In [12]:
###  Updating data in ROWS 

# 1. udpate a single value

# change the last name of a person to 'mittal' whose first name is 'saurabh'
df_dict.loc[3] = ['saurabh', 'mittal', 'saurabh_mittal@gmail.com'] # PASS ALL VALUES AS A LIST --- which includes udpated values for last name and email
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  mittal  saurabh_mittal@gmail.com

In [13]:
# 2. update only specific coumns ????

# Update only last name & email of person whose last name is mittal and first name is saurabh

df_dict.loc[3, ['last','email']] = ['sharma', 'saurabh_sharma@gmail.com']
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  sharma  saurabh_sharma@gmail.com

In [14]:
# update only 1 value  ????    ----- USING .LOC

#  say change the last name of saurabh

df_dict.loc[3, 'last'] = 'mittal'
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  mittal  saurabh_sharma@gmail.com

In [15]:
# Approach 2 ---- # update only 1 value  ????    ----- USING .at

#  say change the last name of saurabh

df_dict.at[3, 'last'] = 'sharma'
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  sharma  saurabh_sharma@gmail.com

SettingWithCopyWarning

In [24]:
# Note: ISSUE when ppl try to change values without using  .loc  or  .at

filt = (df_dict['email'] == 'saurabh_sharma@gmail.com')
df_dict[filt]['last']   # fetches the last name of row 4

# now try to udpate the last name ------- SettingWithCopyWarning
df_dict[filt]['last'] = 'mittal'   # ERROR Bks the value of getting updated on a temporary copy ( that generated by pandas during these operations )
df_dict

## Always use .loc  or  .at  --- WHILE UPDATING/SETTING up values

C:\Users\MeghaPrateek\AppData\Local\Temp\ipykernel_16496\3416696155.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dict[filt]['last'] = 'mittal'   # ERROR Bks the value of getting updated on a temporary copy ( that generated by pandas during these operations )

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  sharma  saurabh_sharma@gmail.com

In [26]:
# Repeat the above operation with .loc

filt = (df_dict['email'] == 'saurabh_sharma@gmail.com')
df_dict.loc[filt,'last'] = 'mittal'                       # OR  df_dict.at[filt,'last'] = 'mittal'   
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  mittal  saurabh_sharma@gmail.com

## Change Multiple Rows at once

In [27]:
# to chaneg all emils to UPPER CASE ?????

df_dict['email'].str.upper()

0      VIKAS_SHARMA@GMAIL.COM
1       RAKESH_PURI@GMAIL.COM
2       MAHESH_JAIN@GMAIL.COM
3    SAURABH_SHARMA@GMAIL.COM
Name: email, dtype: object

In [28]:
# to make the above changes on the data frame -----  assign the conversion result to the same field

df_dict['email'] = df_dict['email'].str.upper()
df_dict

     first    last                     email
0    vikas  sharma    VIKAS_SHARMA@GMAIL.COM
1   rakesh    puri     RAKESH_PURI@GMAIL.COM
2   mahesh    jain     MAHESH_JAIN@GMAIL.COM
3  saurabh  mittal  SAURABH_SHARMA@GMAIL.COM

In [29]:
# to convert all email id's to lower case ????

df_dict['email'] = df_dict['email'].str.lower()
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  mittal  saurabh_sharma@gmail.com

## 4 popular methods to update multiple rows at once

1. apply
2. map
3. applymap
4. replace

### apply can work on both dataframe or a series but behaviour could be deifferent based on the object type

In [30]:
# apply on series

df_dict['email'].apply(len)

0    22
1    21
2    21
3    24
Name: email, dtype: int64

In [32]:
def update_email(email):
    return email.upper()

df_dict['email'].apply(update_email)

0      VIKAS_SHARMA@GMAIL.COM
1       RAKESH_PURI@GMAIL.COM
2       MAHESH_JAIN@GMAIL.COM
3    SAURABH_SHARMA@GMAIL.COM
Name: email, dtype: object

In [33]:
df_dict['email'] = df_dict['email'].apply(update_email)
df_dict

     first    last                     email
0    vikas  sharma    VIKAS_SHARMA@GMAIL.COM
1   rakesh    puri     RAKESH_PURI@GMAIL.COM
2   mahesh    jain     MAHESH_JAIN@GMAIL.COM
3  saurabh  mittal  SAURABH_SHARMA@GMAIL.COM

In [38]:
# INSTEAD of a seperate/regular function we could have used a lamba  function i.e. a no name function as well

df_dict['email'] = df_dict['email'].apply(lambda x: x.lower())   # can use lambda functions for simple operations or non-complex functions
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  mittal  saurabh_sharma@gmail.com

In [40]:
# can we apply len function to data frame instead of series ????

df_dict.apply(len)    # instead of len of data frame, It applied the len on each of the series (column) in the data frame

first    4
last     4
email    4
dtype: int64

In [41]:
len(df_dict['email'])

4

## apply should be used on series objects to apply functions

In [45]:
# if we apply min function on string column it returns first letter in the alphabetical order

df_dict.apply(pd.Series.min)   # min is a pd.Series function

first                   mahesh
last                      jain
email    mahesh_jain@gmail.com
dtype: object

In [46]:
df_dict.apply(lambda x: x.min())  # here x is a series i.e.column and this function returns min value from each series

first                   mahesh
last                      jain
email    mahesh_jain@gmail.com
dtype: object

## running apply on a series applies the function to every value in the series  & 
## running apply on a dataframe applies the function to every series in the data frame

# but is a way that can help function on every element in a dataframe ????

# but is a way that can help function on every element in a dataframe ???? ----> applymap (deprecated)  or  map

applymap works only on dataframe; series objects dont have applymap

In [50]:
df_dict.map(len)         # len is applied on every element

   first  last  email
0      5     6     22
1      6     4     21
2      6     4     21
3      7     6     24

In [54]:
df_dict.map(str.lower)   # converts each value to lower case   ---- Note:  if you have numeric column it may return error

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   rakesh    puri     rakesh_puri@gmail.com
2   mahesh    jain     mahesh_jain@gmail.com
3  saurabh  mittal  saurabh_sharma@gmail.com

# map on series: https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html
# map on dataframe: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.map.html

In [55]:
# if you want to replace some first names with others ---- either on a series or dataframe --- use map

df_dict['first'].map({'rakesh':'ganesh', 'mahesh':'suresh'})

0       NaN
1    ganesh
2    suresh
3       NaN
Name: first, dtype: object

In [57]:
# Issue with above:   reaplces other values like vikas and saurabh with NaN; ---- WHICH IS UNWANTED

# In such a use ---> replace

In [60]:
df_dict['first'].replace({'rakesh':'ganesh', 'mahesh':'suresh'})  # replace leave the vikas & saurah as is

0      vikas
1     ganesh
2     suresh
3    saurabh
Name: first, dtype: object

In [61]:
# WANT to have the chanegs applied on original dataframe ??????

df_dict['first'] = df_dict['first'].replace({'rakesh':'ganesh', 'mahesh':'suresh'})
df_dict

     first    last                     email
0    vikas  sharma    vikas_sharma@gmail.com
1   ganesh    puri     rakesh_puri@gmail.com
2   suresh    jain     mahesh_jain@gmail.com
3  saurabh  mittal  saurabh_sharma@gmail.com

In [62]:
df = pd.read_csv('D:/GIT_Repositories/pandas/survey_results_public.csv', index_col = 'Respondent')
schema_df = pd.read_csv('D:/GIT_Repositories/pandas/survey_results_schema.csv', index_col = 'Column')

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [71]:
# Usecase:  Chnage the column name 'ConcertedComp' that contains salaries in USD -- to 'SalaryUSD'

df.rename(columns={'ConvertedComp':'SalaryUSD'})

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"Im not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Other(s):,C++;HTML/CSS;JavaScript;SQL;WebAssembly;Other(s):,Firebase;SQLite,Firebase;MySQL;SQLite,Linux,Google Cloud Platform;Linux,jQuery,jQuery;Vue.js,Node.js,React Native;Unity 3D;Unreal Engine,Atom;Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,What?,YouTube,NaN,Username,I don't remember,A few times per week,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,NaN,NaN,8,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,C;C++;C#;HTML/CSS;Java;Objective-C;SQL;Swift,DynamoDB;MariaDB;Microsoft SQL Server;MySQL,MariaDB;MySQL;Oracle;SQLite,iOS;Linux;MacOS;WordPress,Android;AWS;Google Cloud Platform;IBM Cloud or...,Django;jQuery;React.js,Django,Unity 3D;Unreal Engine,NaN,Android Studio;Atom;Eclipse;NetBeans;Notepad++...,Linux-based,Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Also Yes,Yes,WhatsApp,In real life (in person),NaN,2012,Daily or almost daily,Find answers to specific questions;Learn how t...,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [72]:
# to apply the column change to the orignal dataframe ----------  inplace=True

df.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq', 'SalaryUSD',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote', 'WorkLoc',
       'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests', 'PurchaseHow',
       'PurchaseWhat', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [73]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [74]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [76]:
# to conver the Yes & No values of Habbyist column to boolean True or False ???????

df['Hobbyist'].map({'Yes':True, 'No':False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

In [77]:
# to make the values permanent

df['Hobbyist'] = df['Hobbyist'].map({'Yes':True, 'No':False})
df.head()

# Note: to replace only Yes & No value and leave others remain untouched use replace inplace of map

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,False,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"Im not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy